@import url("https://fonts.googleapis.com/css2?family=Lato;400;900&display=swap");

body {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #2e354f;
 
}

.container{
  width:620px;
  margin: 0 auto;
}

img {
  height: 30%;
  width: 100%;
}

div{
  
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 900;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  color: #ef5839;
  font-size: 24px;
}

header,
section {
  padding: 50px 320px;
  color: #fff;
}

header {
  background: #2e354f;
  padding: 45px 0;
  
 
}

section {
 
  padding: 45px 0;
}

.section-one {
  color: #000;
  background: #fff;
}

section a {
  color: #ef5839;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  color: brown;
}

.section-two {
  background: #2e354f;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.btn-accent {
  background: #fff;
  color: #000;
}

.btn-accent:hover {
  background: #ef5839;
  color: #000;
}

.btn-dark {
  background: #ef5839;
  color: #000;
}

.btn-dark:hover {
  background: #fff;
  color: #000;
}
